* {
	padding: 0;
	margin: 0;
}

h1 {
	margin-top: 50px;
	font-size: 64;
	font-family: Arial;
	color: #424242;
	text-align: center;
}

div.caontainer {
	width: 100%;
	max-width: 500px;
	margin: auto;
	margin-top: 20px;
	background: ;
	padding: 20px;
	box-sizing: border-box;
}

div.youtube-circle {
	width: 250px;
	height: 250px;
	background: #bb0000;
	margin: auto;
	border-radius: 50%;
	box-shadow: 0px 0px 5px black;
}

div.youtube {
	width: 100%;
	max-width: 175px;
	height: 125px;
	margin: auto;
	background: white;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	border-radius: 20px;
	box-shadow: 0px 0px 2.5px black;
}

div.youtube:before {
	content: '';
	border-style: solid;
	border-width: 25px 0 25px 50px;
	border-color: transparent  #bb0000;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	margin: 0 39%;
}